@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');body {
  font-family: 'Kanit', sans-serif;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #e7f3ffd5;
}

.container-fluid {
  min-width: 1024px !important;
  padding: 0 1.5rem !important;
}

.text-gray {
  color: #aaa;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.icon-setting {
  cursor: pointer;
}

.navbar {
  z-index: 999;
}

.logo {
  width: 40px; 
  height: 40px;
  /* border-radius: 50%; */
}

.navbar .slogan {
  font-size: .7rem;
}

.navbar .search-input {
  border-radius: 0 50px 50px 0;
  border-left: none;
  margin-right: 1.5rem;
}

.navbar .search > i {
  background: #fff;
  line-height: 40px;
  width: 40px;
  height: 40px; 
  border-radius: 50px 0 0 50px;
  border: 1px solid #ced4da;
  border-right: none;
  padding-left: .5rem;
}

.navbar .search {
  border-right: 1px solid #ced4da;
  margin-right: 1.5rem;
}

.navbar .menu-group .menu-icon {
  color: rgb(61, 61, 61);
  font-size: 1.8rem;
}

.navbar .menu-group .menu-icon-user {
  width: 30px;
  height: 30px;
}

/* ---------- Main Page ---------- */
.vertical-nav {
  width: 17rem;
  height: 100vh;
  margin-left: -17rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  color: #fff;
}

.vertical-nav .heading .icon-wrapper {
  color: rgb(156, 156, 156);
  font-size: 1.2rem;
  cursor: pointer;
}

.vertical-nav .dropdown-menu {
  width: 100%;
  background-color: #212529;
}

.vertical-nav .dropdown .dropdown-menu li {
  list-style: circle;
  color: #fff;
}

.vertical-nav .dropdown .dropdown-menu .dropdown-item,
.vertical-nav .dropdown .dropdown-menu .dropdown-item:hover
 {
  color: #fff;
  background-color: #212529;
}

.dropdown-toggle::after {
  margin-left: 9.8em !important;
  color: rgb(156, 156, 156);
}

.page-content {
  width: 100%;
  position: relative;
  transition: all 0.4s;
}

.page-content .heading-icon {
  background-color: #E5E5E5;
  cursor: pointer;
  font-size: .9rem;
}

.page-content .icon-toggle {
  color: rgb(61, 61, 61);
  cursor: pointer;
}

/* ---------- for toggle behavior ---------- */
#sidebar.active {
  margin: 0;
}

#btn-sidebar.display-none {
  display: none;
}
/* -------------------- */

.nav-btn {
  border: 1px solid #333;
  transition: all 0.3s;
}
.nav-btn:hover {
  background-color: #333;
  color: #fff;
}

.nav-filter {
  background-color: #e5ecf1;
}

.nav-filter span {
  color:rgb(85, 85, 85);
  font-weight: 600;
}

.nav-filter .icon-pin {
  background-color: #cfcfcf;
  cursor: pointer;
  transition: .3s;
}

.nav-filter .menu-wrapper .nav-btn {
  width: 70px;
  background-color: #fff;
}
.nav-filter .menu-wrapper .nav-btn:hover,
.nav-filter .icon-pin:hover {
  background-color: #333;
  color: #fff;
}

.nav-filter .dropdown-toggle::after,
.row-btn.dropdown-toggle::after {
  display: none !important;
}

img {
  width: 45px;
  height: 45px;
}

.row-btn {
  width: 40px;
  border: none;
  transition: .3s;
}
.row-btn:hover {
  background-color: #fff;
  color: #333;
}

/* ---------- Select the field to display ---------- */
.select-display .card {
  width: 650px;
  border: none;
  margin-top: 2rem;
}
.select-display .card-header {
  border: none;
  background-color: #e5ecf1;
}
.select-display .card-body {
  background-color: #eef2f5;
}

.select-display .column-info-text {
  padding-left: 2rem;
  font-weight: 600;
}

.select-display .card-item {
  list-style-type: none;
  padding: .5rem .8rem;
  margin-bottom: .5rem;
  border: 1px solid #cfcfcf;
  border-radius:15px;
  width: 350px;
  cursor: pointer;
}
.select-display .card-item:focus {
  background-color: red;
}

.select-display .card-body .btn-save {
  width: 100px;
  font-weight: bold;
  border-radius:15px;
  transition: .3s;
  border: none;
}
.select-display .card-body .btn-save:hover {
  background-color: #fff;
  color: #0b5ed7;
}

.select-display .card-body .btn-cancle {
  width: 100px;
  font-weight: bold;
  border: none;
  border-radius:15px;
  background-color: #fff;
  transition: .3s;
}
.select-display .card-body .btn-cancle:hover {
  background-color: red;
  color: #fff;
}
